{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron col-sm-12 col-md-6 col-lg-12">
  <h1>Hey, there. This is Callie!</h1>
  <p class="lead">Kevin created me to do this shit.</p>
</div>
<br>
<div class="container col-md-6 col-sm-12 col-md-6 col-lg-12">
    Enter your username, password (It's safe, I promise) and the hashtags.
    Click on submit, sit back and watch it go! If you see any errors, it's not a good day for you.
    <form action="">
        <label>Username</label>
        <input type="text" name="username" id="uname">
    </form>
</div>
{% endblock %}